<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>ChatGPT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://polarws.moe/poi.ico" />
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@13.0.1/dist/markdown-it.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/default.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/highlight.min.js"></script>
</head>

<body>
    <div class="container chat-window">
        <div class="card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">渡渡鸦的CHATGPT</h6>
            </div>
            <div class="card-body">
                <ul class="list-group" id="chat-window"></ul>
                <form id="message-form">
                    <div class="input-group mb-3">
                        <textarea class="form-control" id="message-input" placeholder="输入消息，发送q清空对话框"
                            autocomplete="off"></textarea>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">发送</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="progress" id="myProgressBar">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
        </div>
    </div>
    <script>
        // DOM元素选择器，用于获取和操作页面元素
        const chatWindow = $("#chat-window"); // 聊天窗口
        const messageForm = $("#message-form"); //消息输入表单
        const messageInput = $("#message-input"); // 消息输入框
        const myProgressBar = $("#myProgressBar"); // 页面加载进度条
        const clearBtn = $('#clear-btn'); // 清空聊天记录按钮

        // 控制发送按钮的状态
        var sendControl = true;

        // 存储聊天消息的数组
        let messages = [];

        // 当页面DOM加载完成后执行以下函数
        $(document).ready(function () {
            // 监听消息输入框的回车事件，使其可以通过回车键发送消息
            messageInput.keydown(function (event) {
                if (event.keyCode == 13 && !event.shiftKey && sendControl) {
                    event.preventDefault();
                    $('button[type="submit"]').click();
                }
            });
        });

        // 隐藏页面加载进度条
        myProgressBar.hide();

        // 监听“发送”按钮被点击时执行以下函数
        $('button[type="submit"]').on('click', function (event) {
            event.preventDefault(); // 阻止表单默认提交行为

            const message = messageInput.val(); // 获取消息内容

            // 如果消息为空，则不做任何操作
            if (!message) {
                return;
            } else if (message == "q") { // 如果消息为“q”，则清空聊天记录并退出
                messageInput.val('');
                chatWindow.empty();
                return;
            }

            // 将消息存入数组messages中，截取最近的6个消息
            messages = messages.slice(-6);
            messages.push({ 'role': 'user', 'content': message });

            $('.btn').prop('disabled', true); // 禁用发送按钮
            // 在聊天窗口显示消息发送者以及发送的消息内容
            chatWindow.append("<li class='list-group-item'><b>我:</b> " + $("<div>").text(message).html() + "</li>").hide().fadeIn();;
            sendControl = false;
            myProgressBar.show(); // 显示页面加载进度条
            messageInput.val(""); // 清空消息输入框内容

            // 向后台发送消息请求
            fetch('/get_response', {
                method: 'POST',
                body: new URLSearchParams({
                    'message': message,
                    'messages': JSON.stringify(messages)
                })
            })
                .then(response => {
                    const reader = response.body.getReader();
                    let decoder = new TextDecoder("utf-8");
                    let result = '';
                    let msgMd = '';
                    let answer = randomString(16);
                    const md = new markdownit({
                        highlight: function (str, lang) {
                            if (lang && hljs.getLanguage(lang)) {
                                try {
                                    return hljs.highlight(lang, str).value;
                                } catch (__) { }
                            }
                            return "";
                        },
                    });
                    // 在聊天窗口显示机器人角色，并为其设置ID属性
                    chatWindow.append("<li class='list-group-item' id='" + answer + "'><b>ChatGPT:</b></li>").hide().fadeIn();
                    // 读取从服务器返回的文本
                    reader.read().then(function processText({ done, value }) {
                        if (done) {
                            $('#' + answer).html("<b>ChatGPT:</b> " + md.render(msgMd));
                            $('.btn').prop('disabled', false);
                            myProgressBar.hide();
                            sendControl = true;
                            return;
                        }
                        result = decoder.decode(value);
                        const messages = result.split('');
                        messages.forEach(msg => {
                            msgMd += msg;
                            $('#' + answer).html("<b>ChatGPT:</b> " + md.render(msgMd));
                        });
                        result = messages.pop();
                        reader.read().then(processText);
                    });
                })
                .catch(error => {
                    chatWindow.append("<li class='list-group-item text-danger'>发送消息失败</li>").hide().fadeIn();
                    $('.btn').prop('disabled', false);
                    myProgressBar.hide();
                    sendControl = true;
                });
        });

        // 生成指定长度的随机字符串
        function randomString(len) {
            len = len || 32;
            var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
            var maxPos = $chars.length;
            var pwd = '';
            for (i = 0; i < len; i++) {
                pwd += $chars.charAt(Math.floor(Math.random() * maxPos));
            }
            return pwd;
        }
    </script>

</body>

</html>