<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>ChatGPT</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://polarws.moe/poi.ico" />
    <script src="https://cdn.staticfile.org/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/markdown-it/13.0.1/markdown-it.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.staticfile.org/highlight.js/11.7.0/es/highlight.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/default.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.staticfile.org/highlight.js/11.7.0/styles/vs.min.css"> -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container chat-window">
        <div class="card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">渡渡鸦的CHATGPT</h6>
                <button data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" type="button"
                    class="btn btn-outline-secondary">设置</button>
            </div>
            <div class="card-body">
                <ul class="list-group" id="chat-window"></ul>
                <form id="message-form">
                    <div class="input-group mb-3">
                        <textarea class="form-control" id="message-input" placeholder="输入消息，发送q清空对话框"
                            autocomplete="off"></textarea>
                        <div class="input-group-append">
                            <button class="btn btn-primary" id="stopbut">停止</button>
                            <button class="btn btn-primary" id="submit">发送</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="progress" id="myProgressBar">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">设置</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">设置头部数据:</label>
                                <textarea class="form-control" id="headerData"
                                    placeholder="此设置为在你发送信息前面拼接上此条信息，例如：请帮我把此文段翻译成英文"></textarea>
                                <label for="message-text" class="col-form-label">设置首条数据:</label>
                                <textarea class="form-control" id="firstData"
                                    placeholder="此设置为让chatgpt永久记忆此条问题/信息，例如：一些扮演角色的设定"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="setSave">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        if ($.cookie('headerData') === undefined) {
            $.cookie('headerData', '');
        } else {
            $('#headerData').val($.cookie('headerData'));
        }
        if ($.cookie('firstData') === undefined) {
            $.cookie('firstData', '');
        } else {
            $('#firstData').val($.cookie('firstData'));
        }
        const chatWindow = $("#chat-window");
        const messageForm = $("#message-form");
        const messageInput = $("#message-input");
        const txtbox = $("#headerData, #firstData");
        const stopbut = $("#stopbut");
        const clearBtn = $('#clear-btn');
        const submit = $('#submit');
        const myProgressBar = $("#myProgressBar");
        let originalHeight = messageInput.height();
        let headerData = $("#headerData").val();
        let firstData = $("#firstData").val();
        let sendControl = true;
        let stopsend = false;
        let messages = [{ 'role': 'user', 'content': firstData }];

        stopbut.hide();
        myProgressBar.hide();

        $("#setSave").on('click', function () {
            headerData = $("#headerData").val();
            firstData = $("#firstData").val();
            messages[0].content = $("#firstData").val();
            $.cookie('headerData', headerData);
            $.cookie('firstData', firstData);
        });

        messageInput.on('input', function () {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight + 5) + 'px';
        }).trigger('input');

        txtbox.height(100);

        messageInput.keydown(function (event) {
            if (event.keyCode == 13 && !event.shiftKey && sendControl) {
                event.preventDefault();
                submit.click();
            }
        });

        stopbut.on('click', function (event) {
            event.preventDefault();
            submit.prop('disabled', false);
            stopbut.hide();
            myProgressBar.hide();
            sendControl = true;
            stopsend = true;
        });

        submit.on('click', function (event) {
            event.preventDefault();
            const message = messageInput.val();
            messageInput.height(originalHeight);

            if (!message) { return; }
            else if (message == "q") {
                messages = [{ 'role': 'user', 'content': firstData }];
                messageInput.val('');
                chatWindow.empty();
                return;
            }

            messages = messages.slice(-6);
            messages[0].content = firstData;
            messages.push({ 'role': 'user', 'content': headerData + message });
            console.log(messages);

            submit.prop('disabled', true);
            chatWindow.append("<li class='list-group-item'><b>我:</b> " + $("<div>").text(message).html() + "</li>").hide().fadeIn();
            sendControl = false;
            myProgressBar.show();
            stopbut.show();
            messageInput.val("");

            fetch('/get_response', {
                method: 'POST',
                body: new URLSearchParams({
                    'message': message,
                    'messages': JSON.stringify(messages)
                })
            })
                .then(response => {
                    if (stopsend) { return; }
                    const reader = response.body.getReader();
                    let decoder = new TextDecoder("utf-8");
                    let result = '';
                    let msgMd = '';
                    let answer = randomString(16);

                    const md = new markdownit({
                        highlight: function (str, lang) {
                            if (lang && hljs.getLanguage(lang)) {
                                try { return hljs.highlight(lang, str).value; }
                                catch (__) { }
                            }
                            return "";
                        },
                    });

                    chatWindow.append("<li class='list-group-item' id='" + answer + "'><b>ChatGPT:</b></li>").hide().fadeIn();

                    reader.read().then(function processText({ done, value }) {
                        if (done) {
                            $('#' + answer).html("<b>ChatGPT:</b> " + md.render(msgMd));
                            submit.prop('disabled', false);
                            stopbut.hide();
                            myProgressBar.hide();
                            sendControl = true;
                            return;
                        }

                        if (stopsend) { return; }

                        result = decoder.decode(value);
                        const messages = result.split('');
                        messages.forEach(msg => {
                            msgMd += msg;
                            $('#' + answer).html("<b>ChatGPT:</b> " + md.render(msgMd));
                        });

                        window.scrollTo(0, document.body.scrollHeight);
                        result = messages.pop();
                        reader.read().then(processText);
                    });
                })
                .catch(error => {
                    chatWindow.append("<li class='list-group-item text-danger'>发送消息失败</li>").hide().fadeIn();
                    submit.prop('disabled', false);
                    stopbut.hide();
                    myProgressBar.hide();
                    sendControl = true;
                });

            stopsend = false;
        });

        function randomString(len) {
            len = len || 32;
            var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
            var maxPos = $chars.length;
            var pwd = '';
            for (i = 0; i < len; i++) {
                pwd += $chars.charAt(Math.floor(Math.random() * maxPos));
            }
            return pwd;
        }
    </script>

</body>

</html>